*{
    position: static;
    align-items: center;
    text-align: center;
}

.input{
    margin-top: auto;
    margin-bottom: 30px;
}
.EmailForm{
    border: 2px solid rgb(51, 112, 112);
    border-radius: 20px;
    width:400px;
    margin-top:85%;
    display: inline-block;
}
body{
    background: linear-gradient(#352e2e, #b8bbd5);
}